---
import TabLayout from "@layouts/TabLayout.astro";
import { getCollection } from "astro:content";
import { getDate } from "src/lib/post-info";

(await getCollection("article")).forEach(
  (p) => (p.data.pubFromatedDate = getDate(p.data.pubDate))
);
---

<TabLayout tabCategory="word">
  <div class="desc">
    <p>素敵だなと思った言葉をメモします</p>
  </div>
  <div class="articles">
    <p>準備中</p>
  </div>
</TabLayout>

<style>
  .articles {
    @apply bg-beige rounded-lg my-6 py-3 px-6;
  }
  .articles p {
    @apply px-32 lg:px-48 py-20;
  }
  .desc {
    @apply mt-8;
  }
  .desc p {
    @apply text-sm text-beige/90;
  }
</style>
