---
import TabLayout from "@layouts/TabLayout.astro";

//microCMS呼び出し
import { getWords } from "../../lib/microcms";
const res = await getWords({ fields: ["words"] });
const sortedWords =
  res.contents[0].words.length > 0
    ? res.contents[0].words.reverse()
    : undefined;

const title = "素敵だなと思う言葉";
---

<TabLayout tabCategory="word" title={title}>
  <div class="desc">
    <p>素敵だなと思った言葉をメモします</p>
  </div>
  <ul class="words">
    {sortedWords && sortedWords.map((w) => <li>{w.word}</li>)}
  </ul>
</TabLayout>

<style>
  .desc {
    @apply mt-8;
  }
  .desc p {
    @apply text-sm text-navy/90;
  }
  .words {
    @apply my-6 sm:my-12 sm:mx-6 sm:max-w-xl;
  }
  .words li {
    @apply inline-block text-sm sm:text-base border-2 bg-white text-navy rounded-3xl mx-1 my-2 px-3 pt-1 pb-1.5;
  }
</style>
