body {
  font-family: "Noto Sans JP", sans-serif;
  margin: auto;
  text-align: left;
  background-color: #ffffff;
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1.5;
  color: #444;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  -webkit-text-size-adjust: 100%;
}
