body {
  font-family: "Noto Sans JP", sans-serif;
  margin: auto;
  text-align: left;
  background-color: #315d86;
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1.5;
  color: #444;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  -webkit-text-size-adjust: 100%;
}
nav {
  padding: env(safe-area-inset-top, 20px) env(safe-area-inset-right, 20px)
    env(safe-area-inset-bottom, 20px) env(safe-area-inset-left, 20px);
}
