---
import BaseLayout from "@layouts/BaseLayout.astro";

const cards = [
  {
    itemName: "About",
    description: "yajiumのことを紹介しています",
  },
  {
    itemName: "Works",
    description: "へんてこな作ったものたちを紹介しています",
  },
  {
    itemName: "Blog",
    description: "頑張って文字を書いています",
  },
];
---

<BaseLayout isHome>
  <div class="cards">
    {
      cards.map((c) => (
        <div class="card">
          <p>{c.description}</p>
          <h2>
            {c.itemName}
            <img src="/rorisu_tasogare.png" width={30} height={20} />
          </h2>
        </div>
      ))
    }
  </div>
</BaseLayout>

<style>
  .cards {
    @apply grid grid-rows-1 gap-11 mx-3;
  }
  .card {
    @apply rounded-3xl px-6 py-3;
    background-color: #e5dcdc;
  }
  .card h2 {
    @apply text-3xl font-bold mb-2 flex;
    color: #315d86;
    justify-content: space-between;
  }
  .card p {
    @apply my-6;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 19px;
    color: #454242;
  }
</style>
