---
import "zenn-content-css";
import { CollectionEntry, getCollection } from "astro:content";
import BlogPostLayout from "../../../layouts/BlogPostLayout.astro";
import lib from "zenn-markdown-html";

// buildæ™‚ã«ãã®ã¾ã¾ä½¿ã†ã¨ã‚¨ãƒ©ãƒ¼ã«ãªã‚‹ãŸã‚å¤‰æ›´
const markdownToHtml = lib.default ? lib.default : lib;

export async function getStaticPaths() {
  const posts = await getCollection("article");

  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}

type Props = CollectionEntry<"article">;
const post = Astro.props;

post.body = markdownToHtml(post.body, {
  embedOrigin: "https://embed.zenn.studio",
});
---

<BlogPostLayout {...post.data} title={post.data.title}>
  <div
    class="znc px-8 py-6 sm:px-20 sm:py-20 text-sm sm:text-base sm:mx-auto rounded-3xl bg-beige"
  >
    <Fragment set:html={post.body} />
  </div>
  <a
    href="/blog/article"
    class="btn btn-error bg-error/95 pr-6 text-white font-medium fixed bottom-10 left-6 lg:left-20"
    >ðŸ‘ˆ back</a
  >
</BlogPostLayout>
