---
import "zenn-content-css";
import { CollectionEntry, getCollection } from "astro:content";
import BlogPostLayout from "../../../layouts/BlogPostLayout.astro";
import lib from "zenn-markdown-html";

// buildæ™‚ã«ãã®ã¾ã¾ä½¿ã†ã¨ã‚¨ãƒ©ãƒ¼ã«ãªã‚‹ãŸã‚å¤‰æ›´
const markdownToHtml = lib.default ? lib.default : lib;

export async function getStaticPaths() {
  const posts = await getCollection("article");

  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}

type Props = CollectionEntry<"article">;
const post = Astro.props;

post.body = markdownToHtml(post.body, {
  embedOrigin: "https://embed.zenn.studio",
});
---

<BlogPostLayout {...post.data} title={post.data.title}>
  <div
    class="znc px-4 py-6 sm:px-14 sm:py-14 text-sm sm:text-base sm:mx-auto sm:rounded-3xl sm:border-2 bg-white/30"
  >
    <Fragment set:html={post.body} />
  </div>
  <a
    href="/blog/article"
    class="btn bg-navy/90 sm:pr-6 border-0 text-sm text-beige fixed bottom-10 left-4 lg:left-20 hover:bg-beige hover:text-navy"
    >ðŸ‘ˆ back</a
  >
</BlogPostLayout>
