---
import Card from "@components/ui/card";
import BlankLayout from "@layouts/BlankLayout.astro";
import { getCollection } from "astro:content";

// const posts = (await getCollection("article")).sort(
//   (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
// );
const posts = await getCollection("article");
---

<BlankLayout title="Worksをご紹介">
  <div class="content">
    <div class="head">
      <h2>Blog</h2>
    </div>
    <div class="tabs">
      <a href="/blog/article" class="tab tab-lg tab-bordered tab-active">記事</a
      >
      <a href="/blog/note" class="tab tab-lg tab-bordered">備忘録</a>
      <a href="/blog/rec" class="tab tab-lg tab-bordered">録る</a>
    </div>
    <div class="articles">
      <ul>
        {
          posts.map((post) => (
            <li>
              <a href={`/blog/${post.slug}/`}>{post.data.title}</a>
            </li>
            // <time datetime={post.data.pubDate.toISOString()}>
            //     {post.data.pubDate.toLocaleDateString("en-us", {
            //       year: "numeric",
            //       month: "short",
            //       day: "numeric",
            //     })}
            //   </time>
          ))
        }
      </ul>
    </div>
  </div>
</BlankLayout>

<style>
  .content {
    @apply flex flex-col place-items-center;
  }
  .head h2 {
    @apply text-4xl text-center my-10 text-beige;
  }
  .tabs {
    @apply text-white;
  }
  .tab {
    @apply text-beige/70 text-xl;
  }
  .tab-active {
    @apply text-beige;
  }
  .tab-bordered {
    @apply border-beige/40 border-b-4;
  }
  .tab-bordered.tab-active {
    @apply border-beige;
  }
  .articles {
    @apply bg-beige rounded-lg my-6 py-6 px-6;
  }
</style>
