---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
import ToolLinks from "./ToolLinks";
---

<header class="px-6 py-6">
  <div>
    <h2 class="text-3xl">
      {SITE_TITLE}
    </h2>
  </div>
  <nav class="my-10">
    <ToolLinks />
  </nav>
</header>
