---
import { SITE_TITLE } from "../consts";
import ToolLinks from "./ToolLinks";
---

<header>
  <div class="icon-header">
    <img src="/rorisu.png" width={120} height={120} />
    <h2>
      {SITE_TITLE}
    </h2>
  </div>
</header>

<style>
  header {
    @apply px-6 pt-6 pb-4 lg:hidden;
  }
  .icon-header {
    @apply grid justify-items-center;
  }
  .icon-header h2 {
    color: #e5dcdc;
    @apply font-medium text-xl text-center mt-6;
  }
  .my-desc {
    @apply hidden mx-4 my-4 md:block;
  }

  .my-desc p {
    @apply text-sm;
    color: #b0a6a6;
  }
</style>
