---
import { Image } from "@astrojs/image/components";
import { yajiumAlt } from "src/constants/constant";
import namu from "../images/ui/namu.png";

type Props = {
  iconHeadline?: string;
  desc?: string;
  isHome?: boolean;
};
const { iconHeadline, desc, isHome } = Astro.props;
---

<header>
  <div class="icon-header">
    <Image src={namu} width={120} height={100} alt={yajiumAlt} />
    {iconHeadline && <h2>{iconHeadline}</h2>}
    <p>{desc}</p>
  </div>
</header>

<style>
  header {
    @apply px-6 py-4 lg:hidden mt-8;
  }
  .icon-header {
    @apply grid justify-items-center;
  }
  .icon-header h2 {
    @apply font-medium text-lg sm:text-2xl text-center mt-3 sm:mt-6 mb-3;
  }
  .icon-header p {
    @apply text-sm text-navy/80 whitespace-pre-line text-center mt-6;
  }
</style>
