---
type Props = {
  iconHeadline?: string;
  desc?: string;
  isHome?: boolean;
};
const { iconHeadline, desc, isHome } = Astro.props;
---

<header>
  <div class="icon-header">
    <img src="/rorisu.png" width={120} height={120} />
    {iconHeadline && <h2>{iconHeadline}</h2>}
    {!isHome && desc && <p>{desc}</p>}
  </div>
</header>

<style>
  header {
    @apply px-6 py-4 lg:hidden;
  }
  .icon-header {
    @apply grid justify-items-center;
  }
  .icon-header h2 {
    color: #e5dcdc;
    @apply font-medium text-2xl text-center mt-6 mb-3;
  }
  .icon-header p {
    @apply text-sm;
    color: #b0a6a6;
  }
</style>
