---
import { SITE_TITLE } from "../consts";
import ToolLinks from "./ToolLinks";
---

<header>
  <div class="icon-header">
    <img src="/rorisu.png" width={120} height={120} />
    <h2 class="site-title">
      {SITE_TITLE}
    </h2>
  </div>
  <nav class="my-10"></nav>
</header>

<style>
  header {
    @apply px-6 py-8;
  }
  .site-title {
    color: #e5dcdc;
    @apply font-medium text-2xl text-center mt-6;
  }
  .icon-header {
    @apply grid justify-items-center;
  }
</style>
