---
type Props = {
  iconHeadline?: string;
  desc?: string;
};
const { iconHeadline, desc } = Astro.props;
---

<div class="side-bar">
  <div class="icon-head">
    <img src="/src/images/ui/rorisu.png" width={120} height={120} />
    {iconHeadline && <h2>{iconHeadline}</h2>}
  </div>
  {
    desc && (
      <div class="my-desc">
        <p>{desc}</p>
      </div>
    )
  }
</div>

<style>
  .side-bar {
    @apply px-6 py-4 mt-4 hidden lg:block lg:basis-1/4 sticky top-0;
  }
  .icon-head {
    @apply grid justify-items-center;
  }
  .icon-head h2 {
    color: #e5dcdc;
    @apply font-medium text-xl mt-6;
  }
  .my-desc {
    @apply hidden my-4 md:block text-center;
  }

  .my-desc p {
    @apply text-sm whitespace-pre-line;
    color: #d4caca;
  }
</style>
