---
import BlankLayout from "@layouts/BlankLayout.astro";

type Props = {
  tabCategory: string;
  title: string;
};

const { tabCategory, title } = Astro.props;

let articleActive = "";
let noteActive = "";
let wordActive = "";
switch (tabCategory) {
  case "article":
    articleActive = "tab-active";
    break;
  case "memo":
    noteActive = "tab-active";
    break;
  case "word":
    wordActive = "tab-active";
    break;
}
---

<BlankLayout title={title}>
  <div class="content">
    <div class="head">
      <h2>Blog</h2>
    </div>
    <div class="tabs">
      <a href="/blog/article" class={`tab tab-lg tab-bordered ${articleActive}`}
        >記事</a
      >
      <a href="/blog/memo" class={`tab tab-lg tab-bordered ${noteActive}`}
        >備忘録</a
      >
      <a href="/blog/word" class={`tab tab-lg tab-bordered ${wordActive}`}
        >言葉</a
      >
    </div>
    <slot />
  </div>
</BlankLayout>

<style>
  .content {
    @apply flex flex-col place-items-center content-start mx-6 animate-slideIn;
  }
  .head h2 {
    @apply text-2xl sm:text-4xl text-center my-4 sm:my-10 text-navy;
  }
  .tab {
    @apply text-navy/60 text-base sm:text-xl;
  }
  .tab-active {
    @apply text-navy;
  }
  .tab-bordered {
    @apply border-navy/40 border-b-4;
  }
  .tab-bordered.tab-active {
    @apply border-navy;
  }
</style>
