---
import BlankLayout from "@layouts/BlankLayout.astro";

type Props = {
  tabCategory: string;
  title: string;
};

const { tabCategory, title } = Astro.props;

let articleActive = "";
let noteActive = "";
let wordActive = "";
switch (tabCategory) {
  case "article":
    articleActive = "tab-active dark:text-white dark:border-white";
    noteActive = wordActive = "dark:text-white/60 dark:border-white/40";
    break;
  case "memo":
    noteActive = "tab-active dark:text-white dark:border-white";
    articleActive = wordActive = "dark:text-white/60 dark:border-white/40";
    break;
  case "word":
    wordActive = "tab-active dark:text-white dark:border-white";
    articleActive = noteActive = "dark:text-white/60 dark:border-white/40";
    break;
}
---

<BlankLayout title={title}>
  <div class="content">
    <div class="head">
      <h2>Blog</h2>
    </div>
    <div class="tabs text-base sm:text-xl">
      <a href="/blog/article" class={`tab tab-lg tab-bordered ${articleActive}`}
        >記事</a
      >
      <a href="/blog/memo" class={`tab tab-lg tab-bordered ${noteActive}`}
        >備忘録</a
      >
      <a href="/blog/word" class={`tab tab-lg tab-bordered ${wordActive}`}
        >言葉</a
      >
    </div>
    <slot />
  </div>
</BlankLayout>

<style>
  .content {
    @apply flex flex-col place-items-center content-start mx-6 animate-slideIn mt-14;
  }
  .head h2 {
    @apply text-2xl sm:text-4xl text-center my-4 sm:my-10;
  }
</style>
