---
const links = [
  {
    title: "Home",
    link: "/",
  },
  {
    title: "About",
    link: "/about",
  },
  {
    title: "Works",
    link: "/works",
  },
  {
    title: "Blog",
    link: "/blog",
  },
];
---

<div
  tabindex="0"
  class="collapse collapse-arrow bg-navy/60 sticky top-0 text-beige sm:hidden"
>
  <div class="collapse-title"></div>
  <div class="collapse-content grid grid-cols-4 justify-items-center list-none">
    {
      links.map((l) => (
        <a href={l.link} class="loink">
          {l.icon}
          {l.title}
        </a>
      ))
    }
  </div>
</div>

<style>
  nav {
    @apply hidden sm:flex justify-center mx-auto;
  }
  nav a {
    @apply mx-8 py-8 text-lg font-normal hover:underline hover:underline-offset-8 hover:decoration-2 hover:opacity-100 opacity-80;
    color: #e5dcdc;
  }
</style>
