---
const links = [
  {
    title: "Home",
    link: "/",
  },
  {
    title: "About",
    link: "/about",
  },
  {
    title: "Works",
    link: "/works",
  },
  {
    title: "Blog",
    link: "/blog",
  },
];

type Props = {
  isHome?: boolean;
};

const { isHome } = Astro.props;
---

{
  !isHome && (
    <nav>
      {links.map((l) => (
        <a href={l.link}>{l.title}</a>
      ))}
    </nav>
  )
}
<style>
  nav {
    @apply grid grid-cols-4 justify-items-center sticky top-4 py-3 mx-3 mt-3 mb-12 text-xs z-10 sm:hidden;
  }
  nav a {
    @apply text-black/80 hover:text-error;
  }
</style>
