---
import ToggleDarkMode from "./ToggleDark.astro";

const links = [
  {
    title: "Home",
    link: "/",
  },
  {
    title: "About",
    link: "/about",
  },
  {
    title: "Works",
    link: "/works",
  },
  {
    title: "Blog",
    link: "/blog",
  },
];

type Props = {
  isHome?: boolean;
};

const { isHome } = Astro.props;
---

<nav>
  {
    !isHome && (
      <div class="nav-menu">
        {links.map((l) => (
          <a href={l.link}>{l.title}</a>
        ))}
      </div>
    )
  }
  <ToggleDarkMode />
</nav>

<style>
  nav {
    @apply flex justify-end;
  }
  .nav-menu {
    @apply hidden sm:flex dark:text-white dark:bg-white;
  }
  .nav-menu a {
    @apply mx-8 py-8 text-lg font-normal hover:underline hover:underline-offset-8 hover:decoration-2 hover:opacity-100 opacity-80;
  }
</style>
