---
const links = [
  {
    title: "Home",
    link: "/",
  },
  {
    title: "About",
    link: "/about",
  },
  {
    title: "Works",
    link: "/works",
  },
  {
    title: "Blog",
    link: "/blog",
  },
];

type Props = {
  isHome?: boolean;
};

const { isHome } = Astro.props;
---

{
  !isHome && (
    <nav>
      {links.map((l) => (
        <a href={l.link}>{l.title}</a>
      ))}
    </nav>
  )
}

<style>
  nav {
    @apply hidden lg:flex justify-center mx-auto;
  }
  nav a {
    @apply mx-8 py-8 text-lg font-normal hover:underline hover:underline-offset-8 hover:decoration-2 hover:opacity-100 opacity-80;
    color: #e5dcdc;
  }
</style>
